 {% extends "base.html" %}
 {% load static %}
 {% block content %}
 <body>
 <main role="main">
  <section class="jumbotron text-center myvideo" >
    <div class="container">
      <h1 class="jumbotron-heading text-uppercase" >Music</h1>
    </div>
  </section>
<hr>
<h1>Music</h1>
      <section>
        <article class="audible">
            <h2 itemprop="name"><a itemprop="url" href="/natali-sorokina-939011856/stains-on-the-water/s-8YDhB">Stains on the water</a></h2>
            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/753473521&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </article>
          <article class="audible">
              <h2 itemprop="name"><a itemprop="url" href="/natali-sorokina-939011856/story-of-a-monk/s-2BUJA">Story of a monk</a></h2>
              <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/753465151&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </article>
                  <article class="audible">
            <h2 itemprop="name"><a itemprop="url" href="/natali-sorokina-939011856/one-day-near-the-water/s-L5rnV">One day near  water</a></h2>
            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/705793966&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

        </article>
    </section>
 </main>
 </body>
 {% endblock %}


